<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Category Type</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/pages/category-types/delete-category-type.css">
</head>
<body>
<div class="form-container">
    <form id="delete-category-type-form" class="form-flex-col-gap-1" method="POST" action="/category-types/delete/<%= categoryTypeIdParam %>">
        <div class="form-group">
            <label for="type_name"></label>
            <input type="text" id="type_name" name="type_name" value="<%= typeName %>" readonly>
        </div>
        <span>Are you sure you want to delete this Category Type?</span>
        <div class="form-footer">
            <button type="submit" class="button-primary-full-width">Delete</button>
        </div>
    </form>
    <div class="page-form-footer">
        <a href="/dashboard/pages/category-types" class="footer-link">Return to Category Types Dashboard</a>
    </div>
</div>
</body>
</html>