<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Advanced Notes Platform</h1>
        </header>
        <main>
            <ul class="link-list">
                <li class="link-list-item-bordered" data-home-list-item="register"><a href="/register">Sign Up</a></li>
                <li class="link-list-item-bordered" data-home-list-item="login"><a href="/login">Log In</a></li>
                <li class="link-list-item-bordered" data-home-list-item="documentation"><a href="/">Documentation</a></li>
            </ul>
        </main>
    </div>
</body>
</html>