/**
Styles for the Login form and page.
 */

.form-heading {
	text-align: center;
}

#login-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2.5rem;
	width: min(100%, 30rem);
	border: 1px solid hsl(0, 0%, 87%);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}