/**
Stylesheet for Category Types page.
 */

.search-container {
	display: flex;
	width: min(calc(80% - 2rem), 50rem);
	gap: 2rem;
	margin-top: 1.75rem;
}

.search-bar > input[type="search"] {
	width: 30rem;
	max-width: 35rem;
}

#add-category-type-link {
	display: inline-flex;
	align-items: center;
	background-color: var(--secondary-color-variant);
	color: hsl(0, 0%, 100%);
	padding: 0.25rem 1rem 0.25rem 1rem;
	border-radius: 0.25rem;
}

.table-container {
	width: min(calc(80% - 2rem), 60rem);
	margin-top: 1.75rem;
}

#category-types-table {
	text-align: center;
}