/**
Stylesheet for the Delete Tag page/form.
 */

#delete-tag-form {
	border: 1px solid hsl(0, 0%, 87%);
	padding: 2rem;
}

.form-footer > button {
	width: 100%;
	margin-top: 0.35rem;
}

.page-form-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.75rem;
}