/**
Stylesheet for the Update Tag form/page.
 */

#update-tag-form {
	border: 1px solid hsl(0, 0%, 87%);
	padding: 2rem;
}

#update-tag-form > h1 {
	text-align: center;
}

#update-tag-form .form-group > textarea {
	display: block;
	width: 100%;
	min-width: 350px;
	min-height: 150px;
	overflow: auto;
}

.form-footer > button {
	width: 100%;
	margin-top: 0.35rem;
}

.page-form-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.75rem;
}